
        @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
       
        *{
            margin:0;
            padding: 0;
            border:0 ;
        }
    

        body{
            background-color: rgb(3, 2, 36) ;
            font-family: "Black Ops One"
        }

        header{
            padding: 32px;
            border: 18px solid rgb(46, 4, 212);
            background-color: rgba(0, 0, 0,0,1);
        
        }

        header div {

            text-align: center;
        }
            
        header div a {

            color: yellow;
            font-size: 20px ;
            line-height: 40px;
            margin: 0 16px;
            text-decoration: none;
           
            
        }

        header div a:hover{

            color: #13ef0b;
            transition: color 700ms;
            
        }

        .links{
            background-color: rgb(194, 13, 13);
            
        }

        #box {
            text-align: center;
            padding: 32px;
            color: #33d50e;
        }
        

    #box img {
        border-radius: 50%;
        border: 10px solid rgb(44, 6, 214);
        margin-bottom: 32px;
    }

    #box h1{
        font-size: 42px;
        line-height: 52px;
        font-weight: bold;
    }
    
    #box h2{
        font-size: 24px;
        line-height: 34px;
        font-weight: normal;
        margin-top: 8px;
        opacity: 0.8;
    }

    #box p{
        max-width: 500px;
        margin: 32px auto;
        font-size: 24px;
        line-height: 34px;
    }

        