
        @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
        :root{
            --subcor:#57a615; 
        }
        *{
            margin:0;
            padding: 0;
            border:0 ;
        }
    

        body{
            background-color: #035074;
            font-family: "Black Ops One"
        }

        header{
            padding: 32px;
            border-bottom: 8px solid rgb(24, 6, 95);
            background-color: rgba(0, 0, 0,0,1);
        
        }

        .links {

            text-align: center;
        }
            
        .links a {

            color: rgb(41, 14, 178);
            font-size: 20px ;
            line-height: 40px;
            margin: 0 16px;
            text-decoration: none;
           
            
        }

        .links a:hover{

            color: #13ef0b;
            transition: color 700ms;
            
        }

        .links{
            background-color: orange;
            
        }

        #box {
            text-align: center;
            padding: 32px;
            color:orange ;
        }
        

    #box img {
        border-radius: 100%;
        border: 5px solid rgb(11, 2, 89);
        margin-bottom: 32px;
    }

    #box h1{
        font-size: 42px;
        line-height: 52px;
        font-weight: bold;
    }
    
    #box h2{
        font-size: 24px;
        line-height: 34px;
        font-weight: normal;
        margin-top: 8px;
        opacity: 0.8;
    }

    #box p{
        max-width: 500px;
        margin: 32px auto;
        font-size: 24px;
        line-height: 32px;
        
        
        
    }
    #box a{
        color: rgb(242, 241, 247);
        font-size: 25px ;
        line-height: 40px;
        margin: 0 16px;
        text-decoration: none;
    }

    
    #box a:hover{
        transition: color 700ms;
        color: black;
        
    }
    
    /* === cards inicio ===*/
    

    .cards{
        max-width: 800px;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr  ;
        gap: 20px;
    }
    
    .cards{
        background-color: purple;
    }
    .card_image img{
        width: 100%;
    }
    
    .card_content, .card_info{
        padding: 18px;
    }

    .card_info{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card_prince{
        background-color: purple;
        filter: brightness(90%);
        padding: 5px 20px;
        border-radius: 20px;
        text-align: center;
    }

    
/* === cards  fim!===*/

    #linksfooter{
        padding-top: 32px;
    }
    #linksfooter a {
        padding-top: 32px;
        padding-bottom: 8px;
        border-bottom: 3px solid var(--subcor);
    }


